@font-face {
  font-family: "DejaVuSans";
  src: url("../../assets/fonts/dejavu/DejaVuSans.woff2") format("woff2"),
    url("../../assets/fonts/dejavu/DejaVuSans.woff") format("woff"),
    url("../../assets/fonts/dejavu/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPGVenuri2010";
  src: url("../../assets/fonts/venuri/BPGVenuriCaps2020.woff2") format("woff2"),
    url("../../assets/fonts/venuri/BPGVenuriCaps2020.woff") format("woff"),
    url("../../assets/fonts/venuri/BPGVenuriCaps2020.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
